.dist 
__pycache__

# Large files
*.pdf
*.pt 
*.pth 
*.png
imgs 
ckpt
patch_identification/save

# latex compilation files
*.aux
*.synctex.gz
*.log
*.fdb_latexmk
*.fls
*.log
*.bbl
*.blg
*.toc
*.out



*/*.ipynb_checkpoints